<div class="custom-box">
<div class="gradient-text">{{ markdownify .Inner }}</div>
</div>

<style>
    .custom-box {
        border: 3px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;
        padding: 5px 16px;
        border-radius: 10px;
        display: inline-block;
        text-align: left;
    }
    .gradient-text {
        background: linear-gradient(to right, red, orange, yellow, lime, cyan, violet);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
</style>