<div class="custom-box">
<div> {{ markdownify .Inner }}</div>
</div>

<style>
    .custom-box {
        border: 3px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;
        padding: 5px 16px;
        border-radius: 10px;
        display: inline-block;
        text-align: left;
        animation: rainbow 8s ease infinite;
        overflow-x: auto; 
        overflow-y: hidden;
        max-width:100% !important;
    }

    @keyframes rainbow { 
        0%{background-position:0% 50%}
        50%{background-position:100% 25%}
        100%{background-position:0% 50%}
    }
</style>