{{ $showText := .Get "showText" | default (.Get 0) }}
{{ $hideText := .Get "hideText" | default (.Get 1) }}
{{ $uniqueID := printf "toggle-%v" now.UnixNano }}
<div class="toggle-section" style="margin: 10px 0;">
<a href="#" id="{{ $uniqueID }}-button" class="button mb-proof" onclick="toggleContent(event, '{{ $uniqueID }}')">{{ $showText }}</a>
<div id="{{ $uniqueID }}-showText" style="display: none;">{{ markdownify $showText }}</div>
<div id="{{ $uniqueID }}-hideText" style="display: none;">{{ markdownify $hideText }}</div>
<div id="{{ $uniqueID }}" class="toggle-content" style="display: none; padding: 10px; margin-top: 10px;">{{ markdownify .Inner }}</div>
</div>
<script>
    function toggleContent(event, id) {
        event.preventDefault();
        var content = document.getElementById(id);
        var button = document.getElementById(id + '-button');
        var showTextDiv = document.getElementById(id + '-showText');
        var hideTextDiv = document.getElementById(id + '-hideText');
        if (content.style.display === "none") {
            content.style.display = "block";
            button.innerHTML = hideTextDiv.innerHTML;
        } else {
            content.style.display = "none";
            button.innerHTML = showTextDiv.innerHTML;
        }
    }
</script>
